.octodex {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 1000px;
}
.authors {
  display: flex;
  flex-direction: row;
}
.octocat > a > img {
  width: 300px;
  border: 1px solid #e1e4e8;
  border-style: solid;
  border-radius: 5px;
  margin-right: 30px;
}
.authors > li > a > img {
  width: 20px;
}
ul {
  list-style: none;
}

.image-caption {
  float: right;
  display: flex;
  flex-direction: row;
  color: rgb(205, 205, 205);
  word-spacing: -10px;
}

a {
  color: black;
  margin: 1px 5px;
}

.authors :nth-child(2) {
  visibility: hidden;
}

.image-number {
  display: inline-block;
  color: rgb(205, 205, 205);
}
/*.octodex {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 1000px;
}
.authors {
  display: flex;
  flex-direction: row;
}
.octocat > a > img {
  width: 300px;
  border: 1px solid #e1e4e8;
  border-style: solid;
  border-radius: 5px;
  margin-right: 30px;
}
.authors > li > a > img {
  width: 20px;
}
ul {
  list-style: none;
}

.image-caption {
  float: right;
  display: flex;
  flex-direction: row;
  color: rgb(205, 205, 205);
}

a {
  color: black;
}

.authors :nth-child(2) {
  visibility: hidden;
}

.image-number {
  display: inline-block;
  color: rgb(205, 205, 205);
*/
