.octodex {
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 100px;
}
.authors :nth-child(2) {
  visibility: hidden;
}
.octocat a img {
  border: 2px solid #d7d7d7;
  margin-right: 100px;
}
.image-caption {
  text-align: right;
  text-decoration-color: grey;
}
.authors img {
  width: 50px;
  height: 50px;
  display: flex;
}
