.octodex {
  display: flex;
  flex-direction: row;
}

.octodex img {
  height: 300px;
  width: 300px;
}

.octodex img {
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: gray;
}
